# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
# CORS Settings
CORS_ORIGIN="*" # Allowed CORS origin, adjust as necessary
# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP
# Mongo db URI
MONGO_URI=
# Telegram App
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
# Helius
HELIUS_KEY=
HELIUS_RPC_URL=
RPC_WEBSOCKET_ENDPOINT=
JWT_SECRET=
ETHEREUM_PRIVATE_KEY=
ETHEREUM_WALLET_ADDRESS=